*.settings
*.idea
*.classpath
*.iml
*.project
*.DS_Store
*.externalToolBuilders
*.test
*.vscode
*.log
*.sqlite
*.tar.gz
/target/
/logs
/debug
/deamon/controller/controller
/deamon/controller/go.sum
/deamon/controller/target
/deamon/controller/.idea