*.settings
*.idea
*.classpath
*.iml
*.project
*.DS_Store
*.externalToolBuilders
*.test
*.vscode
*.log
*.sqlite
*.tar.gz
/target/
/logs
/debug
/controller/controller
/controller/go.sum
/controller/target
/controller/.idea